<nav class="navbar navbar-expand-lg {{classList}}">
  <div class="{{container}}">

    <!-- Brand -->
    <a class="navbar-brand" href="{{webRoot}}/index.html">
      <img src="{{webRoot}}/assets/img/brand.png" class="navbar-brand-img" alt="...">
    </a>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Navigation -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/metattune">
            <span class="fe fe-twitter"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://instagram.com/metattuneapp">
            <span class="fe fe-instagram"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://facebook.com/metattuneapp">
            <span class="fe fe-facebook"></span>
          </a>
        </li>
      </ul>

    </div>

  </div>
</nav>
